.gridPoint {
  /*background-color: darkslategrey;*/
  background-color: #3a5a40;

  width: clamp(1rem, 20vw, 200px);
  height: clamp(1rem, 20vw, 200px);
  border: 0.125rem solid white;
  padding: 3rem;
  font-size: clamp(1rem, 6vw, 5rem);
  text-align: center;
}

.gridPoint:disabled {
  color: white;
}

.gridPoint.O {
  background-color: #f7b267;
}
.gridPoint.X {
  background-color: lightblue;
}
