<div class="container">
  <div class="msg">
    <h1>Welcome to Noughts & Crosses</h1>
    <h2>Msg: {{winnerString}}</h2>
  </div>
  <div class="board">
    <app-grid-point></app-grid-point>
    <app-grid-point></app-grid-point>
    <app-grid-point></app-grid-point>

    <app-grid-point></app-grid-point>
    <app-grid-point></app-grid-point>
    <app-grid-point></app-grid-point>

    <app-grid-point></app-grid-point>
    <app-grid-point></app-grid-point>
    <app-grid-point></app-grid-point>
  </div>

  <button [className]="'restart'" (click)="restartClick()">
    Restart
  </button>
</div>
