.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: clamp(50px, 100vh, 900px);
  width: clamp(500px, 100vh, 900px);
}

.msg {
  padding: 2rem;
  margin: 5rem;
  max-height: 100px;
  max-width: 500px;
}

.msg h2 {
  font-size: clamp(1.5rem, 3.5vw, 25px);
}

.msg h1 {
  font-size: clamp(2rem, 6vw, 40px);
}

.board {
  padding-top: clamp(1rem, 6vw, 50px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  /*grid-template-rows: 25vw 25vw 25vw;*/
  margin: 1rem;
  /*overflow: no-content;*/
}

.restart {
  padding: 1rem;
  font-size: 2rem;
  margin: 2rem;
}
